{% extends 'base.html.twig' %}

{% form_theme formFicheBug 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>
        {% if (editMode) %}
            Modification d'une fiche de bug
        {% else %}
            Création de la fiche de bug n°{{ numNouveauBug }}
        {% endif %}
    </h1>

    {{ form(formFicheBug) }}

{% endblock %}