{% extends 'base.html.twig' %}

{% form_theme formRdv 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    <style>
        .w-auto {
            width: auto;
        }
    </style>
{% endblock %}
{% block body %}

    <h1>
        {% if (editMode) %}
            Modification d'un rendez-vous
        {% else %}
            Creation d'un rendez-vous
        {% endif %}
    </h1>

    {{ form(formRdv) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker();
        });
    </script>
{% endblock %}