{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <div> {{ user.username }}</div>
        <div> {{ user.password }}</div>
        <div> {{ user.email }}</div>
        <div>
        {% if (user.isActive) %}
            Compte actif
        {% else %}
            Compte inactif
        {% endif %}
        </div>
    </article>
{% endblock %}