{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>{{ tacheDev.projectName }}</h1>
        <div class="metadata">{{ tacheDev.description }} </div>
        <div class="content">
        </div>
    </article>
{% endblock %}